<a href="https://colab.research.google.com/github/Nicah23/HEALTHIT-MMUST-DATA-SCIENCE/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# importing pandas library
import pandas as pd

In [ ]:
# rEad the data frpm the csv
data=pd.read_csv('/content/academic.csv')
print(data)

In [ ]:
data1 = data.dropna()
print(data1)

       year  students  us_students  undergraduate  graduate  non_degree  \
31  1979/80    286343   11570000.0       172520.0   94130.0     16850.0
32  1980/81    311882   12097000.0       186660.0   99110.0     21660.0
33  1981/82    326299   12372000.0       195150.0  106290.0     21980.0
34  1982/83    336985   12426000.0       202760.0  110270.0     20340.0
35  1983/84    338894   12465000.0       197480.0  118820.0     19190.0
36  1984/85    342113   12242000.0       197640.0  122590.0     17570.0
37  1985/86    343777   12247000.0       187660.0  132430.0     19540.0
38  1986/87    349609   12504000.0       181230.0  146100.0     17550.0
39  1987/88    356187   12767000.0       176669.0  156366.0     18352.0
40  1988/89    366354   13055000.0       172551.0  165590.0     21189.0
41  1989/90    386851   13539000.0       184527.0  169827.0     24785.0
42  1990/91    407529   13819000.0       189900.0  182130.0     26730.0
43  1991/92    419585   14359000.0       197070.0  191330.0     22960.0
44  1992/93    438618   14487000.0       210080.0  193330.0     24200.0
45  1993/94    449749   14305000.0       213610.0  201030.0     23680.0
46  1994/95    452635   14279000.0       221500.0  191738.0     26188.0
47  1995/96    453787   14262000.0       218620.0  190092.0     29625.0
48  1996/97    457984   14368000.0       218743.0  190244.0     30872.0
49  1997/98    481280   14502000.0       223276.0  207510.0     33912.0
50  1998/99    490933   14507000.0       235802.0  211426.0     26863.0
51  1999/00    514723   14791000.0       237211.0  218219.0     34436.0
52  2000/01    547867   15312000.0       254429.0  238497.0     33883.0
53  2001/02    582996   15928000.0       261079.0  264749.0     34423.0
54  2002/03    586323   16612000.0       260103.0  267876.0     30551.0
55  2003/04    572509   16911000.0       248200.0  274310.0     20659.0
56  2004/05    565039   17272000.0       239212.0  264410.0     28418.0
57  2005/06    564766   17487000.0       236342.0  259717.0     30611.0
58  2006/07    582984   17672000.0       238050.0  264288.0     38986.0
59  2007/08    623805   18248000.0       243360.0  276842.0     46837.0
60  2008/09    671616   19103000.0       269874.0  283329.0     51812.0
61  2009/10    690923   20428000.0       274431.0  293885.0     54803.0
62  2010/11    723277   20550000.0       291439.0  296574.0     59233.0
63  2011/12    764495   20625000.0       309342.0  300430.0     69566.0
64  2012/13    819644   21253000.0       339993.0  311204.0     73528.0
65  2013/14    886052   21216000.0       370724.0  329854.0     79477.0
66  2014/15    974926   20300000.0       398824.0  362228.0     93587.0
67  2015/16   1043839   20264000.0       427313.0  383935.0     85093.0
68  2016/17   1078822   20185000.0       439019.0  391124.0     72984.0
69  2017/18   1094792   19831000.0       442746.0  382953.0     65631.0
70  2018/19   1095299   19828000.0       431930.0  377943.0     62341.0
71  2019/20   1075496   19720000.0       419321.0  374435.0     58201.0
72  2020/21    914095   19744000.0       359787.0  329272.0     21151.0
73  2021/22    948519   20327000.0       344532.0  385097.0     34131.0
74  2022/23   1057188   18961280.0       347602.0  467027.0     43766.0

         opt
31    2840.0
32    3450.0
33    2880.0
34    3620.0
35    3400.0
36    4310.0
37    4150.0
38    4730.0
39    4800.0
40    7020.0
41    7712.0
42    8770.0
43    8230.0
44   11010.0
45   11430.0
46   13209.0
47   15450.0
48   18125.0
49   16582.0
50   16842.0
51   24857.0
52   21058.0
53   22745.0
54   27793.0
55   29340.0
56   32999.0
57   38096.0
58   41660.0
59   56766.0
60   66601.0
61   67804.0
62   76031.0
63   85157.0
64   94919.0
65  105997.0
66  120287.0
67  147498.0
68  175695.0
69  203462.0
70  223085.0
71  223539.0
72  203885.0
73  184759.0
74  198793.0

In [ ]:
# read the data frpm the csv
data=pd.read_csv('/origin.csv')
print(data)

          year       origin_region                           origin  \
0      2000/01  Africa, Subsaharan  Africa, Subsaharan, Unspecified
1      2000/01  Africa, Subsaharan  Africa, Subsaharan, Unspecified
2      2000/01  Africa, Subsaharan  Africa, Subsaharan, Unspecified
3      2000/01                Asia                Asia, Unspecified
4      2000/01                Asia                Asia, Unspecified
...        ...                 ...                              ...
20406  2022/23         West Africa                             Togo
20407  2022/23         West Africa         West Africa, Unspecified
20408  2022/23         West Africa         West Africa, Unspecified
20409  2022/23         West Africa         West Africa, Unspecified
20410  2022/23         West Africa         West Africa, Unspecified

       academic_type  students
0           Graduate         2
1              Other         0
2      Undergraduate         6
3           Graduate         0
4              Other         6
...              ...       ...
20406  Undergraduate        95
20407       Graduate         0
20408     Non-Degree         0
20409            OPT         0
20410  Undergraduate         0

[20411 rows x 5 columns]

In [ ]:
# read the data from the csv
data = pd.read_csv('/origin.csv')

# print the data
print(data)

          year       origin_region                           origin  \
0      2000/01  Africa, Subsaharan  Africa, Subsaharan, Unspecified
1      2000/01  Africa, Subsaharan  Africa, Subsaharan, Unspecified
2      2000/01  Africa, Subsaharan  Africa, Subsaharan, Unspecified
3      2000/01                Asia                Asia, Unspecified
4      2000/01                Asia                Asia, Unspecified
...        ...                 ...                              ...
20406  2022/23         West Africa                             Togo
20407  2022/23         West Africa         West Africa, Unspecified
20408  2022/23         West Africa         West Africa, Unspecified
20409  2022/23         West Africa         West Africa, Unspecified
20410  2022/23         West Africa         West Africa, Unspecified

       academic_type  students
0           Graduate         2
1              Other         0
2      Undergraduate         6
3           Graduate         0
4              Other         6
...              ...       ...
20406  Undergraduate        95
20407       Graduate         0
20408     Non-Degree         0
20409            OPT         0
20410  Undergraduate         0

[20411 rows x 5 columns]

In [ ]:
# drop the origin column with the unspecified value
data= data.dropna(subset=['origin'])

In [ ]:
print (data)

          year       origin_region                           origin  \
0      2000/01  Africa, Subsaharan  Africa, Subsaharan, Unspecified
1      2000/01  Africa, Subsaharan  Africa, Subsaharan, Unspecified
2      2000/01  Africa, Subsaharan  Africa, Subsaharan, Unspecified
3      2000/01                Asia                Asia, Unspecified
4      2000/01                Asia                Asia, Unspecified
...        ...                 ...                              ...
20406  2022/23         West Africa                             Togo
20407  2022/23         West Africa         West Africa, Unspecified
20408  2022/23         West Africa         West Africa, Unspecified
20409  2022/23         West Africa         West Africa, Unspecified
20410  2022/23         West Africa         West Africa, Unspecified

       academic_type  students
0           Graduate         2
1              Other         0
2      Undergraduate         6
3           Graduate         0
4              Other         6
...              ...       ...
20406  Undergraduate        95
20407       Graduate         0
20408     Non-Degree         0
20409            OPT         0
20410  Undergraduate         0

[20411 rows x 5 columns]

In [ ]:
# read the data frpm the csv
study=pd.read_csv('/field_of_study.csv')
print(study)

         year                 field_of_study  \
0     1998/99                    Agriculture
1     1998/99                    Agriculture
2     1998/99        Business and Management
3     1998/99  Communications and Journalism
4     1998/99  Communications and Journalism
...       ...                            ...
1070  2022/23                Social Sciences
1071  2022/23                Social Sciences
1072  2022/23                Social Sciences
1073  2022/23                Social Sciences
1074  2022/23                     Undeclared

                                                  major  students
0                                           Agriculture    6146.0
1                    Natural Resources and Conservation    1803.0
2                               Business and Management  101360.0
3                             Communication, Journalism    9473.0
4               Communications Technologies/Technicians    1761.0
...                                                 ...       ...
1070                                            History    2551.0
1071                                         Psychology   18474.0
1072  Public Administration and Social Service Profe...    8483.0
1073                                    Social Sciences   53998.0
1074                                         Undeclared   17910.0

[1075 rows x 4 columns]

In [ ]:
# Check for duplicates in study DataFrame
duplicates_study = study[study.duplicated()]
print("Duplicate Rows in study DataFrame:")
print(duplicates_study)

Duplicate Rows in study DataFrame:
Empty DataFrame
Columns: [year, field_of_study, major, students]
Index: []

In [ ]:
# Check for missing values in study DataFrame
missing_values_study = study.isnull().sum()
print("Missing Values in study DataFrame:")
print(missing_values_study)

Missing Values in study DataFrame:
year               0
field_of_study     0
major              0
students          38
dtype: int64

In [ ]:
# Drop rows with missing values in the 'students' column
study_cleaned = study.dropna(subset=['students'])

# Display the cleaned DataFrame
print(study_cleaned)

         year                 field_of_study  \
0     1998/99                    Agriculture
1     1998/99                    Agriculture
2     1998/99        Business and Management
3     1998/99  Communications and Journalism
4     1998/99  Communications and Journalism
...       ...                            ...
1070  2022/23                Social Sciences
1071  2022/23                Social Sciences
1072  2022/23                Social Sciences
1073  2022/23                Social Sciences
1074  2022/23                     Undeclared

                                                  major  students
0                                           Agriculture    6146.0
1                    Natural Resources and Conservation    1803.0
2                               Business and Management  101360.0
3                             Communication, Journalism    9473.0
4               Communications Technologies/Technicians    1761.0
...                                                 ...       ...
1070                                            History    2551.0
1071                                         Psychology   18474.0
1072  Public Administration and Social Service Profe...    8483.0
1073                                    Social Sciences   53998.0
1074                                         Undeclared   17910.0

[1037 rows x 4 columns]

In [ ]:
# Fill missing values in the 'students' column with the mean value
mean_students = study['students'].mean()
study['students'] = study['students'].fillna(mean_students)

# Display the DataFrame after filling missing values
print(study)

         year                 field_of_study  \
0     1998/99                    Agriculture
1     1998/99                    Agriculture
2     1998/99        Business and Management
3     1998/99  Communications and Journalism
4     1998/99  Communications and Journalism
...       ...                            ...
1070  2022/23                Social Sciences
1071  2022/23                Social Sciences
1072  2022/23                Social Sciences
1073  2022/23                Social Sciences
1074  2022/23                     Undeclared

                                                  major  students
0                                           Agriculture    6146.0
1                    Natural Resources and Conservation    1803.0
2                               Business and Management  101360.0
3                             Communication, Journalism    9473.0
4               Communications Technologies/Technicians    1761.0
...                                                 ...       ...
1070                                            History    2551.0
1071                                         Psychology   18474.0
1072  Public Administration and Social Service Profe...    8483.0
1073                                    Social Sciences   53998.0
1074                                         Undeclared   17910.0

[1075 rows x 4 columns]

In [ ]:
# Display data types of columns in study DataFrame
data_types_study = study.dtypes
print("Data Types in study DataFrame:")
print(data_types_study)

Data Types in study DataFrame:
year               object
field_of_study     object
major              object
students          float64
dtype: object

In [ ]:
# Assuming 'year' is the common column
merged_data = pd.merge(data, study, on='year')

# Display the merged DataFrame
print(merged_data)

           year       origin_region                           origin  \
0       2000/01  Africa, Subsaharan  Africa, Subsaharan, Unspecified
1       2000/01  Africa, Subsaharan  Africa, Subsaharan, Unspecified
2       2000/01  Africa, Subsaharan  Africa, Subsaharan, Unspecified
3       2000/01  Africa, Subsaharan  Africa, Subsaharan, Unspecified
4       2000/01  Africa, Subsaharan  Africa, Subsaharan, Unspecified
...         ...                 ...                              ...
877668  2022/23         West Africa         West Africa, Unspecified
877669  2022/23         West Africa         West Africa, Unspecified
877670  2022/23         West Africa         West Africa, Unspecified
877671  2022/23         West Africa         West Africa, Unspecified
877672  2022/23         West Africa         West Africa, Unspecified

        academic_type  students_x                 field_of_study  \
0            Graduate           2                    Agriculture
1            Graduate           2                    Agriculture
2            Graduate           2        Business and Management
3            Graduate           2  Communications and Journalism
4            Graduate           2  Communications and Journalism
...               ...         ...                            ...
877668  Undergraduate           0                Social Sciences
877669  Undergraduate           0                Social Sciences
877670  Undergraduate           0                Social Sciences
877671  Undergraduate           0                Social Sciences
877672  Undergraduate           0                     Undeclared

                                                    major  students_y
0                                             Agriculture      5373.0
1                      Natural Resources and Conservation      1827.0
2                                 Business and Management    105214.0
3                               Communication, Journalism      9958.0
4                 Communications Technologies/Technicians      2261.0
...                                                   ...         ...
877668                                            History      2551.0
877669                                         Psychology     18474.0
877670  Public Administration and Social Service Profe...      8483.0
877671                                    Social Sciences     53998.0
877672                                         Undeclared     17910.0

[877673 rows x 8 columns]

In [ ]:
# Rename the 'students_x' and 'students_y' columns
merged_data = merged_data.rename(columns={'students_x': 'total_students', 'students_y': 'study_students'})

# Display the updated DataFrame
print(merged_data)

           year       origin_region                           origin  \
0       2000/01  Africa, Subsaharan  Africa, Subsaharan, Unspecified
1       2000/01  Africa, Subsaharan  Africa, Subsaharan, Unspecified
2       2000/01  Africa, Subsaharan  Africa, Subsaharan, Unspecified
3       2000/01  Africa, Subsaharan  Africa, Subsaharan, Unspecified
4       2000/01  Africa, Subsaharan  Africa, Subsaharan, Unspecified
...         ...                 ...                              ...
877668  2022/23         West Africa         West Africa, Unspecified
877669  2022/23         West Africa         West Africa, Unspecified
877670  2022/23         West Africa         West Africa, Unspecified
877671  2022/23         West Africa         West Africa, Unspecified
877672  2022/23         West Africa         West Africa, Unspecified

        academic_type  total_students                 field_of_study  \
0            Graduate               2                    Agriculture
1            Graduate               2                    Agriculture
2            Graduate               2        Business and Management
3            Graduate               2  Communications and Journalism
4            Graduate               2  Communications and Journalism
...               ...             ...                            ...
877668  Undergraduate               0                Social Sciences
877669  Undergraduate               0                Social Sciences
877670  Undergraduate               0                Social Sciences
877671  Undergraduate               0                Social Sciences
877672  Undergraduate               0                     Undeclared

                                                    major  study_students
0                                             Agriculture          5373.0
1                      Natural Resources and Conservation          1827.0
2                                 Business and Management        105214.0
3                               Communication, Journalism          9958.0
4                 Communications Technologies/Technicians          2261.0
...                                                   ...             ...
877668                                            History          2551.0
877669                                         Psychology         18474.0
877670  Public Administration and Social Service Profe...          8483.0
877671                                    Social Sciences         53998.0
877672                                         Undeclared         17910.0

[877673 rows x 8 columns]

In [ ]:
# Remove rows where 'origin' is unspecified
merged_data_filtered = merged_data[merged_data['origin'] != 'Unspecified']

# Display the updated DataFrame
print(merged_data_filtered)

           year       origin_region                           origin  \
0       2000/01  Africa, Subsaharan  Africa, Subsaharan, Unspecified
1       2000/01  Africa, Subsaharan  Africa, Subsaharan, Unspecified
2       2000/01  Africa, Subsaharan  Africa, Subsaharan, Unspecified
3       2000/01  Africa, Subsaharan  Africa, Subsaharan, Unspecified
4       2000/01  Africa, Subsaharan  Africa, Subsaharan, Unspecified
...         ...                 ...                              ...
877668  2022/23         West Africa         West Africa, Unspecified
877669  2022/23         West Africa         West Africa, Unspecified
877670  2022/23         West Africa         West Africa, Unspecified
877671  2022/23         West Africa         West Africa, Unspecified
877672  2022/23         West Africa         West Africa, Unspecified

        academic_type  total_students                 field_of_study  \
0            Graduate               2                    Agriculture
1            Graduate               2                    Agriculture
2            Graduate               2        Business and Management
3            Graduate               2  Communications and Journalism
4            Graduate               2  Communications and Journalism
...               ...             ...                            ...
877668  Undergraduate               0                Social Sciences
877669  Undergraduate               0                Social Sciences
877670  Undergraduate               0                Social Sciences
877671  Undergraduate               0                Social Sciences
877672  Undergraduate               0                     Undeclared

                                                    major  study_students
0                                             Agriculture          5373.0
1                      Natural Resources and Conservation          1827.0
2                                 Business and Management        105214.0
3                               Communication, Journalism          9958.0
4                 Communications Technologies/Technicians          2261.0
...                                                   ...             ...
877668                                            History          2551.0
877669                                         Psychology         18474.0
877670  Public Administration and Social Service Profe...          8483.0
877671                                    Social Sciences         53998.0
877672                                         Undeclared         17910.0

[877673 rows x 8 columns]

In [ ]:
# Remove rows where 'origin' is unspecified in the original DataFrame
merged_data.drop(merged_data[merged_data['origin'] == 'Unspecified'].index, inplace=True)

# Display the updated DataFrame
print(merged_data)

           year       origin_region                           origin  \
0       2000/01  Africa, Subsaharan  Africa, Subsaharan, Unspecified
1       2000/01  Africa, Subsaharan  Africa, Subsaharan, Unspecified
2       2000/01  Africa, Subsaharan  Africa, Subsaharan, Unspecified
3       2000/01  Africa, Subsaharan  Africa, Subsaharan, Unspecified
4       2000/01  Africa, Subsaharan  Africa, Subsaharan, Unspecified
...         ...                 ...                              ...
877668  2022/23         West Africa         West Africa, Unspecified
877669  2022/23         West Africa         West Africa, Unspecified
877670  2022/23         West Africa         West Africa, Unspecified
877671  2022/23         West Africa         West Africa, Unspecified
877672  2022/23         West Africa         West Africa, Unspecified

        academic_type  total_students                 field_of_study  \
0            Graduate               2                    Agriculture
1            Graduate               2                    Agriculture
2            Graduate               2        Business and Management
3            Graduate               2  Communications and Journalism
4            Graduate               2  Communications and Journalism
...               ...             ...                            ...
877668  Undergraduate               0                Social Sciences
877669  Undergraduate               0                Social Sciences
877670  Undergraduate               0                Social Sciences
877671  Undergraduate               0                Social Sciences
877672  Undergraduate               0                     Undeclared

                                                    major  study_students
0                                             Agriculture          5373.0
1                      Natural Resources and Conservation          1827.0
2                                 Business and Management        105214.0
3                               Communication, Journalism          9958.0
4                 Communications Technologies/Technicians          2261.0
...                                                   ...             ...
877668                                            History          2551.0
877669                                         Psychology         18474.0
877670  Public Administration and Social Service Profe...          8483.0
877671                                    Social Sciences         53998.0
877672                                         Undeclared         17910.0

[877673 rows x 8 columns]

In [ ]:
# Remove rows where 'origin' is 'Unspecified'
merged_data_filtered = merged_data[merged_data['origin'] != 'Africa, Subsaharan, Unspecified']

# Display the updated DataFrame
print(merged_data_filtered)

           year origin_region                    origin  academic_type  \
129     2000/01          Asia         Asia, Unspecified       Graduate
130     2000/01          Asia         Asia, Unspecified       Graduate
131     2000/01          Asia         Asia, Unspecified       Graduate
132     2000/01          Asia         Asia, Unspecified       Graduate
133     2000/01          Asia         Asia, Unspecified       Graduate
...         ...           ...                       ...            ...
877668  2022/23   West Africa  West Africa, Unspecified  Undergraduate
877669  2022/23   West Africa  West Africa, Unspecified  Undergraduate
877670  2022/23   West Africa  West Africa, Unspecified  Undergraduate
877671  2022/23   West Africa  West Africa, Unspecified  Undergraduate
877672  2022/23   West Africa  West Africa, Unspecified  Undergraduate

        total_students                 field_of_study  \
129                  0                    Agriculture
130                  0                    Agriculture
131                  0        Business and Management
132                  0  Communications and Journalism
133                  0  Communications and Journalism
...                ...                            ...
877668               0                Social Sciences
877669               0                Social Sciences
877670               0                Social Sciences
877671               0                Social Sciences
877672               0                     Undeclared

                                                    major  study_students
129                                           Agriculture          5373.0
130                    Natural Resources and Conservation          1827.0
131                               Business and Management        105214.0
132                             Communication, Journalism          9958.0
133               Communications Technologies/Technicians          2261.0
...                                                   ...             ...
877668                                            History          2551.0
877669                                         Psychology         18474.0
877670  Public Administration and Social Service Profe...          8483.0
877671                                    Social Sciences         53998.0
877672                                         Undeclared         17910.0

[873975 rows x 8 columns]

In [ ]:
# Remove rows where 'origin' is 'Unspecified' in the original DataFrame
merged_data.drop(merged_data[merged_data['origin'] == 'Africa, Subsaharan, Unspecified'].index, inplace=True)

# Display the updated DataFrame
print(merged_data)

           year origin_region                    origin  academic_type  \
129     2000/01          Asia         Asia, Unspecified       Graduate
130     2000/01          Asia         Asia, Unspecified       Graduate
131     2000/01          Asia         Asia, Unspecified       Graduate
132     2000/01          Asia         Asia, Unspecified       Graduate
133     2000/01          Asia         Asia, Unspecified       Graduate
...         ...           ...                       ...            ...
877668  2022/23   West Africa  West Africa, Unspecified  Undergraduate
877669  2022/23   West Africa  West Africa, Unspecified  Undergraduate
877670  2022/23   West Africa  West Africa, Unspecified  Undergraduate
877671  2022/23   West Africa  West Africa, Unspecified  Undergraduate
877672  2022/23   West Africa  West Africa, Unspecified  Undergraduate

        total_students                 field_of_study  \
129                  0                    Agriculture
130                  0                    Agriculture
131                  0        Business and Management
132                  0  Communications and Journalism
133                  0  Communications and Journalism
...                ...                            ...
877668               0                Social Sciences
877669               0                Social Sciences
877670               0                Social Sciences
877671               0                Social Sciences
877672               0                     Undeclared

                                                    major  study_students
129                                           Agriculture          5373.0
130                    Natural Resources and Conservation          1827.0
131                               Business and Management        105214.0
132                             Communication, Journalism          9958.0
133               Communications Technologies/Technicians          2261.0
...                                                   ...             ...
877668                                            History          2551.0
877669                                         Psychology         18474.0
877670  Public Administration and Social Service Profe...          8483.0
877671                                    Social Sciences         53998.0
877672                                         Undeclared         17910.0

[873975 rows x 8 columns]

In [ ]:
# Read the data from the 'origin.csv' file
origin_data = pd.read_csv('/origin.csv')

In [ ]:
# Assuming 'year' is the common column
merged_data = pd.merge(data, study, on='year')

In [ ]:
# Remove rows where 'origin' is 'Unspecified' in the merged DataFrame
merged_data_filtered = merged_data[merged_data['origin'] != 'Unspecified']

In [ ]:
# Display the updated DataFrame
print(merged_data_filtered)

           year       origin_region                           origin  \
0       2000/01  Africa, Subsaharan  Africa, Subsaharan, Unspecified
1       2000/01  Africa, Subsaharan  Africa, Subsaharan, Unspecified
2       2000/01  Africa, Subsaharan  Africa, Subsaharan, Unspecified
3       2000/01  Africa, Subsaharan  Africa, Subsaharan, Unspecified
4       2000/01  Africa, Subsaharan  Africa, Subsaharan, Unspecified
...         ...                 ...                              ...
877668  2022/23         West Africa         West Africa, Unspecified
877669  2022/23         West Africa         West Africa, Unspecified
877670  2022/23         West Africa         West Africa, Unspecified
877671  2022/23         West Africa         West Africa, Unspecified
877672  2022/23         West Africa         West Africa, Unspecified

        academic_type  students_x                 field_of_study  \
0            Graduate           2                    Agriculture
1            Graduate           2                    Agriculture
2            Graduate           2        Business and Management
3            Graduate           2  Communications and Journalism
4            Graduate           2  Communications and Journalism
...               ...         ...                            ...
877668  Undergraduate           0                Social Sciences
877669  Undergraduate           0                Social Sciences
877670  Undergraduate           0                Social Sciences
877671  Undergraduate           0                Social Sciences
877672  Undergraduate           0                     Undeclared

                                                    major  students_y
0                                             Agriculture      5373.0
1                      Natural Resources and Conservation      1827.0
2                                 Business and Management    105214.0
3                               Communication, Journalism      9958.0
4                 Communications Technologies/Technicians      2261.0
...                                                   ...         ...
877668                                            History      2551.0
877669                                         Psychology     18474.0
877670  Public Administration and Social Service Profe...      8483.0
877671                                    Social Sciences     53998.0
877672                                         Undeclared     17910.0

[877673 rows x 8 columns]

In [ ]:
# Assuming 'origin' is the column in the origin_data DataFrame
unique_origin_values = origin_data['origin'].unique()
print("Unique values in the 'origin' column:")
print(unique_origin_values)

Unique values in the 'origin' column:
['Africa, Subsaharan, Unspecified' 'Asia, Unspecified' 'Anguilla'
 'Antigua and Barbuda' 'Aruba' 'Bahamas' 'Barbados' 'Bermuda'
 'British Virgin Islands' 'Caribbean, Unspecified' 'Cayman Islands' 'Cuba'
 'Dominica' 'Dominican Republic' 'Grenada' 'Guadeloupe' 'Haiti' 'Jamaica'
 'Martinique' 'Montserrat' 'Netherlands Antilles' 'St. Kitts and Nevis'
 'St. Lucia' 'St. Vincent and the Grenadines' 'Trinidad and Tobago'
 'Turks and Caicos' 'Cameroon' 'Central Africa, Unspecified'
 'Central African Republic' 'Chad' 'Congo, Dem. Rep. of the (Kinshasa)'
 'Congo, Republic of the (Brazzaville)' 'Equatorial Guinea' 'Gabon'
 'São Tomé and Príncipe' 'Burundi' 'Djibouti' 'East Africa, Unspecified'
 'Eritrea' 'Ethiopia' 'Kenya' 'Rwanda' 'Seychelles' 'Somalia' 'Sudan'
 'Tanzania' 'Uganda' 'China' 'East Asia, Unspecified' 'Hong Kong' 'Japan'
 'Macau' 'Mongolia' 'North Korea' 'South Korea' 'Taiwan' 'Albania'
 'Andorra' 'Armenia' 'Austria' 'Azerbaijan' 'Belarus' 'Belgium'
 'Bosnia and Herzegovina' 'Bulgaria' 'Croatia' 'Cyprus'
 'Czechia/Czech Republic' 'Czechoslovakia, Former' 'Denmark' 'Estonia'
 'Europe, Unspecified' 'Finland' 'France' 'Georgia' 'Germany' 'Gibraltar'
 'Greece' 'Holy See' 'Hungary' 'Iceland' 'Ireland' 'Italy' 'Kosovo'
 'Latvia' 'Liechtenstein' 'Lithuania' 'Luxembourg' 'Malta' 'Moldova'
 'Monaco' 'Netherlands' 'North Macedonia' 'Norway' 'Poland' 'Portugal'
 'Romania' 'Russia' 'San Marino' 'Serbia and Montenegro' 'Slovakia'
 'Slovenia' 'Spain' 'Sweden' 'Switzerland' 'Turkey' 'U.S.S.R., Former'
 'Ukraine' 'United Kingdom' 'Yugoslavia, Former'
 'Latin America and Caribbean, Unspecified' 'Belize' 'Costa Rica'
 'El Salvador' 'Guatemala' 'Honduras' 'Mexico'
 'Mexico and Central America, Unspecified' 'Nicaragua' 'Panama' 'Bahrain'
 'Iran' 'Iraq' 'Israel' 'Jordan' 'Kuwait' 'Lebanon'
 'Middle East, Unspecified' 'Oman' 'Palestinian Territories' 'Qatar'
 'Saudi Arabia' 'Syria' 'United Arab Emirates' 'Yemen' 'Algeria' 'Egypt'
 'Libya' 'Morocco' 'North Africa, Unspecified' 'Tunisia' 'Western Sahara'
 'Canada' 'Australia' 'Cook Islands' 'Fiji' 'French Polynesia' 'Kiribati'
 'Marshall Islands, Republic of the' 'Micronesia, Federate States of '
 'Nauru' 'New Caledonia' 'New Zealand' 'Niue' 'Norfolk Island'
 'Pacific Islands, Unspecified' 'Palau' 'Papua New Guinea' 'Samoa'
 'Solomon Islands' 'Tonga' 'Tuvalu' 'Vanuatu' 'Wallis and Futuna'
 'Argentina' 'Bolivia' 'Brazil' 'Chile' 'Colombia' 'Ecuador'
 'Falkland Islands/Islas Malvinas' 'French Guiana' 'Guyana' 'Paraguay'
 'Peru' 'South America, Unspecified' 'Suriname' 'Uruguay' 'Venezuela'
 'Afghanistan' 'Bangladesh' 'Bhutan' 'India' 'Kazakhstan' 'Kyrgyzstan'
 'Maldives' 'Nepal' 'Pakistan' 'South and Central Asia, Unspecified'
 'Sri Lanka' 'Tajikistan' 'Turkmenistan' 'Uzbekistan' 'Brunei'
 'Burma/Myanmar' 'Cambodia' 'Indonesia' 'Laos' 'Malaysia' 'Philippines'
 'Singapore' 'Southeast Asia, Unspecified' 'Thailand' 'Vietnam' 'Angola'
 'Botswana' 'Comoros' 'Eswatini' 'Lesotho' 'Madagascar' 'Malawi'
 'Mauritius' 'Mozambique' 'Namibia' 'Reunion' 'South Africa'
 'Southern Africa, Unspecified' 'Zambia' 'Zimbabwe' 'Stateless' 'Benin'
 'Burkina Faso' 'Cabo Verde' 'Côte d’Ivoire' 'Gambia, The' 'Ghana'
 'Guinea' 'GuineaBissau' 'Liberia' 'Mali' 'Mauritania' 'Niger' 'Nigeria'
 'Saint Helena' 'Senegal' 'Sierra Leone' 'Togo' 'West Africa, Unspecified'
 'TimorLeste' 'Montenegro' 'Serbia' 'Curacao' 'South Sudan' 'Sint Maarten']

In [ ]:
# Replace 'Unspecified' with the actual value representing unspecified origin
unspecified_value = '...'  # Replace with the actual value

# Remove rows where 'origin' is unspecified in the merged DataFrame
merged_data_filtered = merged_data[merged_data['origin'] != unspecified_value]

# Display the updated DataFrame
print(merged_data_filtered)

           year       origin_region                           origin  \
0       2000/01  Africa, Subsaharan  Africa, Subsaharan, Unspecified
1       2000/01  Africa, Subsaharan  Africa, Subsaharan, Unspecified
2       2000/01  Africa, Subsaharan  Africa, Subsaharan, Unspecified
3       2000/01  Africa, Subsaharan  Africa, Subsaharan, Unspecified
4       2000/01  Africa, Subsaharan  Africa, Subsaharan, Unspecified
...         ...                 ...                              ...
877668  2022/23         West Africa         West Africa, Unspecified
877669  2022/23         West Africa         West Africa, Unspecified
877670  2022/23         West Africa         West Africa, Unspecified
877671  2022/23         West Africa         West Africa, Unspecified
877672  2022/23         West Africa         West Africa, Unspecified

        academic_type  students_x                 field_of_study  \
0            Graduate           2                    Agriculture
1            Graduate           2                    Agriculture
2            Graduate           2        Business and Management
3            Graduate           2  Communications and Journalism
4            Graduate           2  Communications and Journalism
...               ...         ...                            ...
877668  Undergraduate           0                Social Sciences
877669  Undergraduate           0                Social Sciences
877670  Undergraduate           0                Social Sciences
877671  Undergraduate           0                Social Sciences
877672  Undergraduate           0                     Undeclared

                                                    major  students_y
0                                             Agriculture      5373.0
1                      Natural Resources and Conservation      1827.0
2                                 Business and Management    105214.0
3                               Communication, Journalism      9958.0
4                 Communications Technologies/Technicians      2261.0
...                                                   ...         ...
877668                                            History      2551.0
877669                                         Psychology     18474.0
877670  Public Administration and Social Service Profe...      8483.0
877671                                    Social Sciences     53998.0
877672                                         Undeclared     17910.0

[877673 rows x 8 columns]

In [ ]:
# Check if 'Unspecified' is present in the 'origin' column (case-insensitive)
merged_data_filtered = merged_data[~merged_data['origin'].str.contains('Unspecified', case=False)]

# Display the updated DataFrame
print(merged_data_filtered)

           year origin_region    origin  academic_type  students_x  \
258     2000/01     Caribbean  Anguilla       Graduate           5
259     2000/01     Caribbean  Anguilla       Graduate           5
260     2000/01     Caribbean  Anguilla       Graduate           5
261     2000/01     Caribbean  Anguilla       Graduate           5
262     2000/01     Caribbean  Anguilla       Graduate           5
...         ...           ...       ...            ...         ...
877496  2022/23   West Africa      Togo  Undergraduate          95
877497  2022/23   West Africa      Togo  Undergraduate          95
877498  2022/23   West Africa      Togo  Undergraduate          95
877499  2022/23   West Africa      Togo  Undergraduate          95
877500  2022/23   West Africa      Togo  Undergraduate          95

                       field_of_study  \
258                       Agriculture
259                       Agriculture
260           Business and Management
261     Communications and Journalism
262     Communications and Journalism
...                               ...
877496                Social Sciences
877497                Social Sciences
877498                Social Sciences
877499                Social Sciences
877500                     Undeclared

                                                    major  students_y
258                                           Agriculture      5373.0
259                    Natural Resources and Conservation      1827.0
260                               Business and Management    105214.0
261                             Communication, Journalism      9958.0
262               Communications Technologies/Technicians      2261.0
...                                                   ...         ...
877496                                            History      2551.0
877497                                         Psychology     18474.0
877498  Public Administration and Social Service Profe...      8483.0
877499                                    Social Sciences     53998.0
877500                                         Undeclared     17910.0

[816871 rows x 8 columns]

In [ ]:
# Display unique values in the 'origin' column
unique_origin_values = merged_data['origin'].unique()
print("Unique values in the 'origin' column:")
print(unique_origin_values)

Unique values in the 'origin' column:
['Africa, Subsaharan, Unspecified' 'Asia, Unspecified' 'Anguilla'
 'Antigua and Barbuda' 'Aruba' 'Bahamas' 'Barbados' 'Bermuda'
 'British Virgin Islands' 'Caribbean, Unspecified' 'Cayman Islands' 'Cuba'
 'Dominica' 'Dominican Republic' 'Grenada' 'Guadeloupe' 'Haiti' 'Jamaica'
 'Martinique' 'Montserrat' 'Netherlands Antilles' 'St. Kitts and Nevis'
 'St. Lucia' 'St. Vincent and the Grenadines' 'Trinidad and Tobago'
 'Turks and Caicos' 'Cameroon' 'Central Africa, Unspecified'
 'Central African Republic' 'Chad' 'Congo, Dem. Rep. of the (Kinshasa)'
 'Congo, Republic of the (Brazzaville)' 'Equatorial Guinea' 'Gabon'
 'São Tomé and Príncipe' 'Burundi' 'Djibouti' 'East Africa, Unspecified'
 'Eritrea' 'Ethiopia' 'Kenya' 'Rwanda' 'Seychelles' 'Somalia' 'Sudan'
 'Tanzania' 'Uganda' 'China' 'East Asia, Unspecified' 'Hong Kong' 'Japan'
 'Macau' 'Mongolia' 'North Korea' 'South Korea' 'Taiwan' 'Albania'
 'Andorra' 'Armenia' 'Austria' 'Azerbaijan' 'Belarus' 'Belgium'
 'Bosnia and Herzegovina' 'Bulgaria' 'Croatia' 'Cyprus'
 'Czechia/Czech Republic' 'Czechoslovakia, Former' 'Denmark' 'Estonia'
 'Europe, Unspecified' 'Finland' 'France' 'Georgia' 'Germany' 'Gibraltar'
 'Greece' 'Holy See' 'Hungary' 'Iceland' 'Ireland' 'Italy' 'Kosovo'
 'Latvia' 'Liechtenstein' 'Lithuania' 'Luxembourg' 'Malta' 'Moldova'
 'Monaco' 'Netherlands' 'North Macedonia' 'Norway' 'Poland' 'Portugal'
 'Romania' 'Russia' 'San Marino' 'Serbia and Montenegro' 'Slovakia'
 'Slovenia' 'Spain' 'Sweden' 'Switzerland' 'Turkey' 'U.S.S.R., Former'
 'Ukraine' 'United Kingdom' 'Yugoslavia, Former'
 'Latin America and Caribbean, Unspecified' 'Belize' 'Costa Rica'
 'El Salvador' 'Guatemala' 'Honduras' 'Mexico'
 'Mexico and Central America, Unspecified' 'Nicaragua' 'Panama' 'Bahrain'
 'Iran' 'Iraq' 'Israel' 'Jordan' 'Kuwait' 'Lebanon'
 'Middle East, Unspecified' 'Oman' 'Palestinian Territories' 'Qatar'
 'Saudi Arabia' 'Syria' 'United Arab Emirates' 'Yemen' 'Algeria' 'Egypt'
 'Libya' 'Morocco' 'North Africa, Unspecified' 'Tunisia' 'Western Sahara'
 'Canada' 'Australia' 'Cook Islands' 'Fiji' 'French Polynesia' 'Kiribati'
 'Marshall Islands, Republic of the' 'Micronesia, Federate States of '
 'Nauru' 'New Caledonia' 'New Zealand' 'Niue' 'Norfolk Island'
 'Pacific Islands, Unspecified' 'Palau' 'Papua New Guinea' 'Samoa'
 'Solomon Islands' 'Tonga' 'Tuvalu' 'Vanuatu' 'Wallis and Futuna'
 'Argentina' 'Bolivia' 'Brazil' 'Chile' 'Colombia' 'Ecuador'
 'Falkland Islands/Islas Malvinas' 'French Guiana' 'Guyana' 'Paraguay'
 'Peru' 'South America, Unspecified' 'Suriname' 'Uruguay' 'Venezuela'
 'Afghanistan' 'Bangladesh' 'Bhutan' 'India' 'Kazakhstan' 'Kyrgyzstan'
 'Maldives' 'Nepal' 'Pakistan' 'South and Central Asia, Unspecified'
 'Sri Lanka' 'Tajikistan' 'Turkmenistan' 'Uzbekistan' 'Brunei'
 'Burma/Myanmar' 'Cambodia' 'Indonesia' 'Laos' 'Malaysia' 'Philippines'
 'Singapore' 'Southeast Asia, Unspecified' 'Thailand' 'Vietnam' 'Angola'
 'Botswana' 'Comoros' 'Eswatini' 'Lesotho' 'Madagascar' 'Malawi'
 'Mauritius' 'Mozambique' 'Namibia' 'Reunion' 'South Africa'
 'Southern Africa, Unspecified' 'Zambia' 'Zimbabwe' 'Stateless' 'Benin'
 'Burkina Faso' 'Cabo Verde' 'Côte d’Ivoire' 'Gambia, The' 'Ghana'
 'Guinea' 'GuineaBissau' 'Liberia' 'Mali' 'Mauritania' 'Niger' 'Nigeria'
 'Saint Helena' 'Senegal' 'Sierra Leone' 'Togo' 'West Africa, Unspecified'
 'TimorLeste' 'Montenegro' 'Serbia' 'Curacao' 'South Sudan' 'Sint Maarten']

In [ ]:
# Assuming 'year' is the common column
merged_data = pd.merge(data, study, on='year')

# Display the merged DataFrame
print(merged_data)

           year       origin_region                           origin  \
0       2000/01  Africa, Subsaharan  Africa, Subsaharan, Unspecified
1       2000/01  Africa, Subsaharan  Africa, Subsaharan, Unspecified
2       2000/01  Africa, Subsaharan  Africa, Subsaharan, Unspecified
3       2000/01  Africa, Subsaharan  Africa, Subsaharan, Unspecified
4       2000/01  Africa, Subsaharan  Africa, Subsaharan, Unspecified
...         ...                 ...                              ...
877668  2022/23         West Africa         West Africa, Unspecified
877669  2022/23         West Africa         West Africa, Unspecified
877670  2022/23         West Africa         West Africa, Unspecified
877671  2022/23         West Africa         West Africa, Unspecified
877672  2022/23         West Africa         West Africa, Unspecified

        academic_type  students_x                 field_of_study  \
0            Graduate           2                    Agriculture
1            Graduate           2                    Agriculture
2            Graduate           2        Business and Management
3            Graduate           2  Communications and Journalism
4            Graduate           2  Communications and Journalism
...               ...         ...                            ...
877668  Undergraduate           0                Social Sciences
877669  Undergraduate           0                Social Sciences
877670  Undergraduate           0                Social Sciences
877671  Undergraduate           0                Social Sciences
877672  Undergraduate           0                     Undeclared

                                                    major  students_y
0                                             Agriculture      5373.0
1                      Natural Resources and Conservation      1827.0
2                                 Business and Management    105214.0
3                               Communication, Journalism      9958.0
4                 Communications Technologies/Technicians      2261.0
...                                                   ...         ...
877668                                            History      2551.0
877669                                         Psychology     18474.0
877670  Public Administration and Social Service Profe...      8483.0
877671                                    Social Sciences     53998.0
877672                                         Undeclared     17910.0

[877673 rows x 8 columns]

In [ ]:
# Print the first 20 rows of the merged DataFrame
print(merged_data.head(20))

       year       origin_region                           origin  \
0   2000/01  Africa, Subsaharan  Africa, Subsaharan, Unspecified
1   2000/01  Africa, Subsaharan  Africa, Subsaharan, Unspecified
2   2000/01  Africa, Subsaharan  Africa, Subsaharan, Unspecified
3   2000/01  Africa, Subsaharan  Africa, Subsaharan, Unspecified
4   2000/01  Africa, Subsaharan  Africa, Subsaharan, Unspecified
5   2000/01  Africa, Subsaharan  Africa, Subsaharan, Unspecified
6   2000/01  Africa, Subsaharan  Africa, Subsaharan, Unspecified
7   2000/01  Africa, Subsaharan  Africa, Subsaharan, Unspecified
8   2000/01  Africa, Subsaharan  Africa, Subsaharan, Unspecified
9   2000/01  Africa, Subsaharan  Africa, Subsaharan, Unspecified
10  2000/01  Africa, Subsaharan  Africa, Subsaharan, Unspecified
11  2000/01  Africa, Subsaharan  Africa, Subsaharan, Unspecified
12  2000/01  Africa, Subsaharan  Africa, Subsaharan, Unspecified
13  2000/01  Africa, Subsaharan  Africa, Subsaharan, Unspecified
14  2000/01  Africa, Subsaharan  Africa, Subsaharan, Unspecified
15  2000/01  Africa, Subsaharan  Africa, Subsaharan, Unspecified
16  2000/01  Africa, Subsaharan  Africa, Subsaharan, Unspecified
17  2000/01  Africa, Subsaharan  Africa, Subsaharan, Unspecified
18  2000/01  Africa, Subsaharan  Africa, Subsaharan, Unspecified
19  2000/01  Africa, Subsaharan  Africa, Subsaharan, Unspecified

   academic_type  students_x                 field_of_study  \
0       Graduate           2                    Agriculture
1       Graduate           2                    Agriculture
2       Graduate           2        Business and Management
3       Graduate           2  Communications and Journalism
4       Graduate           2  Communications and Journalism
5       Graduate           2                      Education
6       Graduate           2                    Engineering
7       Graduate           2                    Engineering
8       Graduate           2                    Engineering
9       Graduate           2                    Engineering
10      Graduate           2                    Engineering
11      Graduate           2                    Engineering
12      Graduate           2                    Engineering
13      Graduate           2          Fine and Applied Arts
14      Graduate           2          Fine and Applied Arts
15      Graduate           2             Health Professions
16      Graduate           2             Health Professions
17      Graduate           2                     Humanities
18      Graduate           2                     Humanities
19      Graduate           2                     Humanities

                                             major     students_y
0                                      Agriculture    5373.000000
1               Natural Resources and Conservation    1827.000000
2                          Business and Management  105214.000000
3                        Communication, Journalism    9958.000000
4          Communications Technologies/Technicians    2261.000000
5                                        Education   14053.000000
6                              Construction Trades     371.000000
7                                      Engineering   75815.000000
8             Engineering Technologies/Technicians    5630.000000
9     Mechanic and Repair Technologies/Technicians     497.000000
10                           Military Technologies     210.000000
11                            Precision Production     199.000000
12             Transportation and Materials Moving     674.000000
13                                    Architecture    6602.000000
14                      Visual and Performing Arts   27618.000000
15                              Health Professions   22430.000000
16                              Residency Programs   18611.679846
17         English Language and Literature/Letters    5735.000000
18  Foreign Languages, Literatures and Linguistics    4889.000000
19                Philosophy and Religious Studies    1785.000000